.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
}
.clock {
  font-family: "Courier New", Courier, monospace;
  font-size: 5rem;
  color: #61dafb;
  background-color: #20232a;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.clock:hover {
  background-color: #282c34;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, box-shadow 0.3s;
}
.day {
  font-size: 2rem;
  color: #abb2bf;
  margin-top: 10px;
  text-align: center;
}
